<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/login-page.css" />
</head>

<body>
    <form class="login-form">
        <input type="text" autocomplete="email" placeholder="Email" class="email-input" />
        <input type="password" autocomplete="current-password" placeholder="Password" class="password-input" />
        <input type="submit" value="Login" class="login-btn" />
        <div class="register-area">
            <div class="register-area-msg">Not signed yet?</div>
            <a href="./register-page.html" class="register-page-link">Register</a>
        </div>
    </form>
    <script src="../dist/src/login.js" type="module"></script>
</body>

</html>