form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 360px;
  background-color: #4CAF50;
  border-radius: 10px;
}

input {
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: left;
  padding: 10px;
  color: black;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-area {
  display: flex;
  flex-direction: column;
}

.login-page-link {
  text-decoration: underline;
  width: fit-content;
  font-size: 14px;
}

.login-area-msg {
  font-size: 14px;
}

.login-page-link:hover {
  cursor: pointer;
}

.register-btn {
  text-align: center;
  padding: 0;
  transition: background-color 1s ease-in-out;
  background-color: #5bc062;
  color: white;
}

.register-btn:hover {
  cursor: pointer;
  background-color: #245727;
}

.check-password {
  display: none;
  font-size: 12px;
}

.match-password {
  display: none;
  font-size: 12px;
  border-radius: 5px;
}

.password-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {

  body {
    height: 100vh;
  }

  form {
    width: 100vw;
    height: 100vh;
  }

  input {
    height: 50px;
  }
}
